body {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

.hero {
  margin: 3rem 0;
}

li.reading-cover {
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  height: 22rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}


img.img-me.rounded-circle {
  width: 10%;
  height: 10%;
}

.me.text-capitalize {
  display: flex;
  place-content: center;
  margin: 3rem auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

li.d-view {
  transition: transform .5s;
  margin-bottom: 0.5rem;
}

li.d-view:hover {
  transform: translate(1rem);
}


img.img-about {
  width: -webkit-fill-available;
}



img.img-reading {
  width: 100%;
  height: auto;
}



@media (max-width: 576px) {}