:root {
  --main-color: #346751;
  --secondary-color: #161616;
  --third-color: #C84B31;
}

body {
  background: var(--bs-light);
  color: var(--secondary-color);
  font-size: 1.3rem;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* Start Login */
.login {
  margin: 2rem auto;
  width: 30%;
  padding: 1rem;
}

/* Start Page Posts */


img.img-widgets,
img.img-preview,
img.img-edit {
  width: -webkit-fill-available;
}

td.d-flex {
  justify-content: space-evenly;
}

span.btn.btn-outline-primary {
  border-radius: 0;
}



/* Start page Dashboard */


@media (max-width: 576px) {
  .login {
    width: 100%;
  }
}

/* Sidebar Styles */
#wrapper {
  display: flex;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: #212529; /* bg-dark */
  color: white;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#sidebar-wrapper .list-group-item {
  background-color: #212529;
  color: white;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

#sidebar-wrapper .list-group-item:hover {
  background-color: #343a40;
  color: #fff;
}

#page-content-wrapper {
  min-width: 100vw;
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* Top Navbar inside content wrapper */
.top-navbar {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
